# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [45]:
busiest_hosts = air_bnb.groupby('host_id').size().sort_values(ascending=False).head(10)
busiest_hosts

host_id
219517861    327
107434423    232
30283594     121
137358866    103
16098958      96
12243051      96
61391963      91
22541573      87
200380610     65
1475015       52
dtype: int64

In [29]:
air_bnb = pd.read_csv('files/AB_NYC_2019.csv')
air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [30]:
# How many neighborhood groups are available and which shows up the most?

neighbourhoods = air_bnb.groupby('neighbourhood_group').count()
neighbourhoods

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
neighbourhood_group,,,,,,,,,,,,,,,
Bronx,1091,1090,1091,1090,1091,1091,1091,1091,1091,1091,1091,876,876,1091,1091
Brooklyn,20104,20098,20104,20095,20104,20104,20104,20104,20104,20104,20104,16447,16447,20104,20104
Manhattan,21661,21652,21661,21652,21661,21661,21661,21661,21661,21661,21661,16632,16632,21661,21661
Queens,5666,5666,5666,5664,5666,5666,5666,5666,5666,5666,5666,4574,4574,5666,5666
Staten Island,373,373,373,373,373,373,373,373,373,373,373,314,314,373,373

In [31]:
# Are private rooms the most popular in manhattan?

rooms = air_bnb.groupby(['neighbourhood_group', 'room_type']).count()
rooms

                                        id   name  host_id  host_name  \
neighbourhood_group room_type
Bronx               Entire home/apt    379    379      379        378
                    Private room       652    652      652        652
                    Shared room         60     59       60         60
Brooklyn            Entire home/apt   9559   9558     9559       9554
                    Private room     10132  10127    10132      10128
                    Shared room        413    413      413        413
Manhattan           Entire home/apt  13199  13193    13199      13196
                    Private room      7982   7979     7982       7976
                    Shared room        480    480      480        480
Queens              Entire home/apt   2096   2096     2096       2096
                    Private room      3372   3372     3372       3370
                    Shared room        198    198      198        198
Staten Island       Entire home/apt    176    176      176        176
                    Private room       188    188      188        188
                    Shared room          9      9        9          9

                                     neighbourhood  latitude  longitude  \
neighbourhood_group room_type
Bronx               Entire home/apt            379       379        379
                    Private room               652       652        652
                    Shared room                 60        60         60
Brooklyn            Entire home/apt           9559      9559       9559
                    Private room             10132     10132      10132
                    Shared room                413       413        413
Manhattan           Entire home/apt          13199     13199      13199
                    Private room              7982      7982       7982
                    Shared room                480       480        480
Queens              Entire home/apt           2096      2096       2096
                    Private room              3372      3372       3372
                    Shared room                198       198        198
Staten Island       Entire home/apt            176       176        176
                    Private room               188       188        188
                    Shared room                  9         9          9

                                     price  minimum_nights  number_of_reviews  \
neighbourhood_group room_type
Bronx               Entire home/apt    379             379                379
                    Private room       652             652                652
                    Shared room         60              60                 60
Brooklyn            Entire home/apt   9559            9559               9559
                    Private room     10132           10132              10132
                    Shared room        413             413                413
Manhattan           Entire home/apt  13199           13199              13199
                    Private room      7982            7982               7982
                    Shared room        480             480                480
Queens              Entire home/apt   2096            2096               2096
                    Private room      3372            3372               3372
                    Shared room        198             198                198
Staten Island       Entire home/apt    176             176                176
                    Private room       188             188                188
                    Shared room          9               9                  9

                                     last_review  reviews_per_month  \
neighbourhood_group room_type
Bronx               Entire home/apt          309                309
                    Private room             524                524
                    Shared room               43                 43
Brooklyn            Entire home/apt         8164               8164
                    Private room            7993               7993
                    Shared room              290                290
Manhattan           Entire home/apt         9967               9967
                    Private room            6309               6309
                    Shared room              356                356
Queens              Entire home/apt         1742               1742
                    Private room            2680               2680
                    Shared room              152                152
Staten Island       Entire home/apt          150                150
                    Private room             159                159
                    Shared room                5                  5

                                     calculated_host_listings_count  \
neighbourhood_group room_type
Bronx               Entire home/apt                             379
                    Private room                                652
                    Shared room                                  60
Brooklyn            Entire home/apt                            9559
                    Private room                              10132
                    Shared room                                 413
Manhattan           Entire home/apt                           13199
                    Private room                               7982
                    Shared room                                 480
Queens              Entire home/apt                            2096
                    Private room                               3372
                    Shared room                                 198
Staten Island       Entire home/apt                             176
                    Private room                                188
                    Shared room                                   9

                                     availability_365
neighbourhood_group room_type
Bronx               Entire home/apt               379
                    Private room                  652
                    Shared room                    60
Brooklyn            Entire home/apt              9559
                    Private room                10132
                    Shared room                   413
Manhattan           Entire home/apt             13199
                    Private room                 7982
                    Shared room                   480
Queens              Entire home/apt              2096
                    Private room                 3372
                    Shared room                   198
Staten Island       Entire home/apt               176
                    Private room                  188
                    Shared room                     9

In [32]:
# Which hosts are the busiest and based on their reviews?

busyhost = air_bnb.groupby('host_id')
host = busyhost[['number_of_reviews']].count()
sorted_hosts = host.sort_values(['number_of_reviews'], ascending=False)
sorted_hosts

           number_of_reviews
host_id
219517861                327
107434423                232
30283594                 121
137358866                103
16098958                  96
...                      ...
13540183                   1
13538150                   1
13535952                   1
13533446                   1
274321313                  1

[37457 rows x 1 columns]

In [33]:
#Which neighorhood group has the highest average price?
price = air_bnb.groupby('neighbourhood_group')['price'].mean()
price

neighbourhood_group
Bronx             87.496792
Brooklyn         124.383207
Manhattan        196.875814
Queens            99.517649
Staten Island    114.812332
Name: price, dtype: float64

In [34]:
# Which neighbor hood group has the highest total price?
maxprice = air_bnb.groupby('neighbourhood_group')['price'].sum()
maxprice

neighbourhood_group
Bronx              95459
Brooklyn         2500600
Manhattan        4264527
Queens            563867
Staten Island      42825
Name: price, dtype: int64

In [35]:
#Which top 5 hosts have the highest total price?
expensivehost = air_bnb.groupby('host_id').sum().sort_values('price', ascending=False)
expensivehost.head(5)

,id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
host_id,,,,,,,,,
219517861,10885561678,13316.25823,-24198.18856,82795,4353,1281,397.56,106929,98588
107434423,7210036953,9451.60418,-17166.13165,70331,7470,29,6.04,53824,58884
156158778,332529233,488.73929,-887.71735,37097,12,1,1.00,144,776
205031545,1415225676,1996.92821,-3624.34656,35294,750,127,21.21,2401,10796
30283594,1611854192,4931.41347,-8952.50779,33581,3767,65,3.94,14641,37924

In [36]:
# Who currently has no (zero) availability with a review count of 100 or more?

popular = air_bnb[(air_bnb['number_of_reviews'] >= 100) & (air_bnb['availability_365'] == 0)]
popular

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2017-07-21,0.99,1,0
94,20913,Charming 1 bed GR8 WBurg LOCATION!,79402,Christiana,Brooklyn,Williamsburg,40.70984,-73.95775,Entire home/apt,100,5,168,2018-07-22,1.57,1,0
132,30031,NYC artists’ loft with roof deck,129352,Sol,Brooklyn,Greenpoint,40.73494,-73.95030,Private room,50,3,193,2019-05-20,1.86,1,0
174,44221,Financial District Luxury Loft,193722,Coral,Manhattan,Financial District,40.70666,-74.01374,Entire home/apt,196,3,114,2019-06-20,1.06,1,0
180,45556,"Fort Greene, Brooklyn: Center Bedroom",67778,Doug,Brooklyn,Fort Greene,40.68863,-73.97691,Private room,65,2,206,2019-06-30,1.92,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29581,22705516,The Quietest Block in Manhattan :),127740507,Kathleen,Manhattan,Harlem,40.83102,-73.94181,Private room,65,2,103,2019-07-07,5.89,2,0
30461,23574142,queens get away!!,176185168,Janet,Queens,Laurelton,40.68209,-73.73662,Private room,65,1,119,2018-12-24,7.79,1,0
31250,24267706,entire sunshine of the spotless mind room,21074914,Albert,Brooklyn,Bedford-Stuyvesant,40.68234,-73.91318,Private room,49,1,102,2019-07-05,6.73,3,0
32670,25719044,COZY Room for Female Guests,40119874,Stephany,Brooklyn,Prospect-Lefferts Gardens,40.66242,-73.94417,Private room,48,1,131,2019-05-31,9.97,2,0
35014,27759146,Cozy corner near Empire State Building,209549523,Mariluz,Manhattan,Midtown,40.74858,-73.98341,Shared room,62,1,112,2019-06-13,10.77,3,0

In [44]:
# What host has the highest total of prices and where are they located?
highest_total_hostid = air_bnb.groupby('host_id')['price'].sum().idxmax()
high_total_host_loc = air_bnb[air_bnb['host_id'] == max_price_host_id][['host_name', 'neighbourhood']].iloc[0]
highest_total_hostid 
high_total_host_loc

host_name              Sonder (NYC)
neighbourhood    Financial District
Name: 38293, dtype: object

In [42]:
# When did Danielle from Queens last receive a review?

danielle_reviews = air_bnb[(air_bnb['host_name'] == 'Danielle') & (air_bnb['neighbourhood_group'] == 'Queens')].sort_values('last_review', ascending=False)
last_review_date = danielle_reviews.iloc[0]['last_review']
last_review_date

'2019-07-08'

## Further Questions

1. Which host has the most listings?

In [22]:
most = air_bnb.groupby('host_id')['name'].count().nlargest()
most

host_id
219517861    327
107434423    232
30283594     121
137358866    103
12243051      96
Name: name, dtype: int64

2. How many listings have completely open availability?

In [24]:
available = air_bnb[air_bnb['availability_365'] == 365].count()
available

id                                1295
name                              1294
host_id                           1295
host_name                         1295
neighbourhood_group               1295
neighbourhood                     1295
latitude                          1295
longitude                         1295
room_type                         1295
price                             1295
minimum_nights                    1295
number_of_reviews                 1295
last_review                        841
reviews_per_month                  841
calculated_host_listings_count    1295
availability_365                  1295
dtype: int64

3. What room_types have the highest review numbers?

In [25]:
room = air_bnb.groupby('room_type')['number_of_reviews'].sum()
room

room_type
Entire home/apt    580403
Private room       538346
Shared room         19256
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --

In [ ]:
# 1.) According to the data, host id 219517861 is the busiest, as he/she has the most number of reviews. 
# 2.) There are approximately 5 neighborhood groups, which Manhattan shows up the most.
# 3.) Entire home/apt are more popular compared to private rooms or shared rooms. 
# 4.) The busiest host based on their reviews is host_id 219517861. 
# 5&6.) The neighborhood group that has the highest average price and highest total price is Manhattan. 
# 7.) Host_ID regarding the top 5 hosts that have the highest total price are the following: 219517861, 107434423, 156158778, 205031545, 30283594
# 8.) The name of the hosts who has zero availability with 100 reviews are more are the following: MaryEllen, Christiana, Sol, Coral, Doug, Kathleen, Janet, Albert, Stephany, Mariluz
# 9.) The name of the host that has the highest total of prices is Sonder, which he is located in Financial District, NYC. 
# 10.) Daniel from Queens last revieved a review on 7-8-2019.